@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

.div1{
    color: red;
}

.div2{
    color: blue;
}

.div3{
    color: green;
}